<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>亿路通汽车</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link rel="stylesheet" th:href="@{/css/owl.carousel.css}" type="text/css" media="all">
    <link rel="stylesheet" th:href="@{/css/owl.theme.css}" type="text/css" media="all">
    <!-- css files -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"> <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" media="all"/> <!-- Style-CSS -->
    <link rel="stylesheet" th:href="@{/css/fontawesome-all.css}"> <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet"/>
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext"
          rel="stylesheet">
    <link th:href="@{/css/toastr.min.css}" rel="stylesheet" />
    <link th:href="@{/css/ladda-theme.scss}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrapValidator.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-table.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/city-picker.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css" />

    <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
    <script type="text/javascript" th:src="@{/js/encode64.js}"></script>
    <script type="text/javascript" th:src="@{/js/toastr.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/ladda.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/spin.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrapValidator.js}"></script>
    <script type="text/javascript" th:src="@{/js/zh_CN.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-table-zh-CN.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.zh-CN.js}"></script>
    <script type="text/javascript" th:src="@{/js/city-picker.data.js}"></script>
    <script type="text/javascript" th:src="@{/js/city-picker.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/utils.js}"></script>

    <style>
        .carItem img{
            border: 0;
        }
        .carItem div div{
            border-bottom: 2px solid #bbb;
        }
        .city-picker-span {
            border: 1px solid #646464;
            background-color: #252525;
            border-radius: 0.25rem;
            width:100% !important;
        }
        .form-control{
            border: 1px solid #646464;
            background-color: #252525;
            border-radius: 0.25rem;
            color: #a0a0a0;
        }

        .city-picker-span > .title > span {
            color: #a0a0a0;
        }
        .city-picker-span.focus, .city-picker-span.open {
            border-bottom-color: #646464;
        }
        .city-select-wrap {
            width: 400px;
        }
        .lease-modal-content {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%;
            height: 100%;
            pointer-events: auto;
            background-size: cover;
            outline: 0;
        }
        .table th{
            border-style: hidden !important;
            background-color: #bcbcbc;
        }
        .table td{
            border-left-style: hidden !important;
            border-right-style: hidden !important;
        }
        .zc_fetch_i {
            width: 16px;
            height: 16px;
            background-position: -170px -235px;
            display: -webkit-inline-box;
        }
        .zc_giveback_i {
            width: 16px;
            height: 16px;
            background-position: -170px -262px;
            display: -webkit-inline-box;
        }
    </style>

</head>

<body>

<!--/banner-->
<div class="top-bar_sub_w3layouts container-fluid">
    <div class="row">

        <div class="col-md-4 col-sm-6 log-icons mt-2">
            <p class="py-2"><i class="fas fa-phone"></i> 服务热线 : 12(00) 123 1234</p>
        </div>

        <div class="col-md-4 col-sm-6 logo">
            <a class="navbar-brand" href="index.html">
                <i class="fas fa-car"></i> 亿路通租车</a>
        </div>


        <div id="noLogin" class="col-md-4 top-forms mt-md-3 mt-2 mb-md-0 mb-3">
				<span class="mx-lg-4 mx-md-2  mx-1">
					<a href="#" data-toggle="modal" aria-pressed="false" data-target="#loginPanel">
						<i class="fas fa-lock"></i> 登录</a>
				</span>
            <span>
					<a href="#" data-toggle="modal" data-target="#registeredPanel">
						<i class="fas fa-user"></i> 注册</a>
				</span>

        </div>

        <div id="yesLogin" class="col-md-4 top-forms mt-md-3 mt-2 mb-md-0 mb-3">
            <div class="btn-group">
                <button id="nameSpan" style="color:#fff" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </button>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item" data-toggle="modal" aria-pressed="false" data-target="#changePass">
                        <i class="fas fa-lock"></i> 修改密码</a>
                    <a href="#" class="dropdown-item" data-toggle="modal" aria-pressed="false" data-target="#upgradeVipPanel">
                        <i class="fas fa-superpowers"></i> 升级VIP</a>
                    <a href="#" class="dropdown-item" data-toggle="modal" aria-pressed="false" data-target="#rechargePanel">
                        <i class="fas fa-money-bill-alt"></i> 充值</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/route/logout}">
                        <i class="fas fa-outdent"></i> 安全退出</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="banner" id="home">
    <!-- header -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light top-header">
            <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link ml-lg-0" th:href="@{/}">首页
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/route/browseVehicle}">立即选车</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/order/order}">我的订单</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/order/order}">帮助信息</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/order/order}">关于我们</a>
                    </li>
                </ul>

            </div>
        </nav>
    </header>
</div>

<section class="services py-5">
    <div class="container py-lg-5">
        <h1 class="heading text-capitalize text-center">订单查询</h1>
        <h5 class="heading mb-5 text-center">请尽快支付</h5>
        <div class="row service-grids">
            <table id="orderTable" class="table"></table>
        </div>
    </div>
</section>

<footer class="py-sm-5 py-4 px-md-5 px-3">
    <div class="container-fluid pt-lg-5">
        <div class="row">
            <div class="col-lg-3 col-sm-6 mb-lg-0 mb-5 footer-grid-agileits-w3ls1 text-left">
                <h3 class="mb-sm-5 mb-4 mt-sm-0 mt-4">About Company</h3>
                <p>Vestibulum vitae libero consectetur, orn areeros id, congue metus. Aliquam erat volutpat. Donec
                    rhoncus risus vitae ullam corper pretium. Duis vitae nisl neque. Aliquam tincidunt, tellus quis
                    hendrerit tincidunt congue metus. </p>
                <a href="#" class="read">Know More <i class="fas fa-caret-right"></i></a>
            </div>
            <div class="col-lg-3 col-sm-6 mb-lg-0 mb-5 footer-grid-agileits-w3ls1 text-left">
                <h3 class="mb-sm-5 mb-4">Locate Us</h3>
                <ul class="w3ls-footer-bottom-list">
                    <li><span class="fas fa-map-marker"></span> 3481 Jack Street Beverly Jack Hills<span> 90210 Block, USA </span>
                    </li>
                    <li><span class="fas fa-envelope"></span> <a href="mailto:name@example.com"> mail@example.com</a>
                    </li>
                    <li><span class="fas fa-phone"></span> +112 367 896 2449</li>
                    <li><span class="fas fa-fax"></span> +112 367 896 2449</li>
                    <li><span class="fas fa-globe"></span> <a href="#"> www.websitename.com</a></li>
                    <li><span class="fas fa-clock"></span> Office Time : 8:00 a.m - 6:00 p.m</li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 mb-sm-0 mb-5 footer-grid-agileits-w3ls text-left">
                <div class="tech-btm">
                    <h3 class="mb-sm-5 mb-4">Latest Posts</h3>
                    <div class="blog-grids row mb-3">
                        <div class="col-4 pr-0 blog-grid-left">
                            <a href="#">
                                <img th:src="@{/images/blog1.jpg}" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="col-8 blog-grid-right">

                            <h5>
                                <a href="#">Pellentesque dui, non felis. Maecenas male non felis </a>
                            </h5>
                            <div class="sub-meta">
								<span>
									<i class="far fa-clock"></i> 19 Apr, 2018</span>
                            </div>
                        </div>

                    </div>
                    <div class="blog-grids row mb-3">
                        <div class="col-4 pr-0 blog-grid-left">
                            <a href="#">
                                <img th:src="@{/images/blog2.jpg}" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="col-8 blog-grid-right">

                            <h5>
                                <a href="#">Pellentesque dui, non felis. Maecenas male non felis </a>
                            </h5>
                            <div class="sub-meta">
								<span>
									<i class="far fa-clock"></i> 20 Apr, 2018</span>
                            </div>
                        </div>

                    </div>
                    <div class="blog-grids row">
                        <div class="col-4 pr-0 blog-grid-left">
                            <a href="#">
                                <img th:src="@{/images/blog3.jpg}" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="col-8 blog-grid-right">

                            <h5>
                                <a href="#">Pellentesque dui, non felis. Maecenas male non felis </a>
                            </h5>
                            <div class="sub-meta">
								<span>
									<i class="far fa-clock"></i> 21 Apr, 2018</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- subscribe -->
            <div class="col-lg-3 col-sm-6 subscribe-main footer-grid-agileits-w3ls text-left">
                <h3 class="mb-sm-5 mb-4">Newsletter</h3>
                <div class="subscribe-main text-left">
                    <div class="subscribe-form">
                        <form action="#" method="post" class="subscribe_form">
                            <input class="form-control" type="email" placeholder="Enter Your Email..." required="">
                            <button type="submit" class="btn1 btn-primary submit"><i class="fas fa-paper-plane"
                                                                                     aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
                <!-- //subscribe -->
                <div class="footer-social">
                    <div class="copyrighttop">
                        <h3 class="mb-sm-5 mb-4">Stay In Touch</h3>
                        <ul>
                            <li class="mr-1">
                                <a class="facebook" href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="mr-1">
                                <a class="facebook" href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="mr-1">
                                <a class="facebook" href="#">
                                    <i class="fab fa-google-plus-g"></i>
                                </a>
                            </li>
                            <li class="mr-1">
                                <a class="facebook" href="#">
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
                            </li>
                            <li>
                                <a class="facebook" href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <!-- copyright -->
        <div class="footer-cpy text-center pt-sm-5 mt-sm-5 mt-4 pt-3">
            <div class="w3layouts-agile-copyrightbottom">
                <p>© 2018 Taxi Cab. All Rights Reserved | Design by
                    <a href="http://w3layouts.com/">W3layouts</a>
                </p>

            </div>
        </div>
        <!-- //copyright -->
    </div>
</footer>

<div class="modal fade" id="loginPanel" tabindex="-1" role="dialog" aria-labelledby="loginModel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModel">登录你的账户</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="username" class="col-form-label">用户名</label>
                    <input type="text" class="form-control" placeholder="用户名" id="username" required>
                </div>
                <div class="form-group">
                    <label for="password" class="col-form-label">密码</label>
                    <input type="password" class="form-control" placeholder="密码" id="password" required>
                </div>

                <div class="right-w3l">
                    <input type="submit" id="sub" class="form-control" value="登录">
                </div>
                <p class="text-center dont-do text-white mt-3">没有账户?
                    <a href="#" data-toggle="modal" data-target="#registeredPanel" class="text-white">
                        立即注册</a>
                </p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    $(function(){


    });
    $("#sub").on("click",function(){
        login();
    });
    function login(){
        var username = $("#username").val();
        var password = $("#password").val();
        var empPattern = /^\s*$/;
        if (empPattern.test(username) || empPattern.test(password)){
            toastr.warning("用户名或密码不能为空");
            return;
        }
        password = encode64(password);
        $.ajax({
            url:[[@{/login}]],
            data:{"username":username,"password":password, "type":"2"},
            type:"post",
                dataType:"json",
                success:function(result){
                if(result.success){
                    window.location.reload();
                }else{
                    toastr.warning(result.msg);
                }
            }
        })
    }
    /*]]>*/
</script>
<div class="modal fade" id="changePass" tabindex="-1" role="dialog" aria-labelledby="changePassModel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePassModel">修改密码</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="oldPassword" class="col-form-label">旧密码</label>
                    <input type="password" class="form-control" lay-verify="pass" placeholder="旧密码" id="oldPassword"
                           required="">
                </div>
                <div class="form-group">
                    <label for="newPassword" class="col-form-label">新密码</label>
                    <input type="password" class="form-control" lay-verify="pass" placeholder="新密码" id="newPassword"
                           required="">
                </div>
                <div class="form-group">
                    <label for="conPassword" class="col-form-label">确认密码</label>
                    <input type="password" class="form-control" lay-verify="pass" placeholder="确认密码" id="conPassword"
                           required="">
                </div>

                <div class="right-w3l">
                    <input type="hidden" id="accountId"/>
                    <input type="submit" id="subPass" class="form-control" value="确认">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    $(function(){

    });
    $("#subPass").on("click",function(){
        editPass();
    });
    function editPass(){
        var passwordO = $("#oldPassword").val();
        var password = $("#newPassword").val();
        var conPassword = $("#conPassword").val();
        var id = $("#accountId").val();
        if(password !== conPassword){
            toastr.warning("两次密码输入不一致");
            return false;
        }
        password = encode64(password);
        passwordO = encode64(passwordO);
        $.ajax({
            url:[[@{/user/update}]],
        data:{"password":password,"passwordO":passwordO,"id":id},
        type:"post",
            dataType:"json",
            success:function(result){
            if(result.success){
                toastr.success("保存成功");
                window.location.reload();
            }else{
                toastr.warning(result.msg);
            }
        },
    });

    }
    /*]]>*/
</script>
<div class="modal fade" id="registeredPanel" tabindex="-1" role="dialog" aria-labelledby="regModel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="regModel">注册你的账户</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="registeredForm" class="layui-form" action="">
                    <div class="form-group">
                        <label class="col-form-label">用户名</label>
                        <input type="text" class="form-control" placeholder="用户名" name="username" />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">邮箱</label>
                        <input type="email" class="form-control" placeholder="邮箱" name="mail" />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">密码</label>
                        <input type="password" class="form-control" placeholder="密码" name="password"/>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">确认密码</label>
                        <input type="password" class="form-control" placeholder="确认密码" name="ConfirmPassword" />
                    </div>
                </form>
                <div class="right-w3l">
                    <input type="submit" class="form-control" id="regSub" value="注册">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    $(function(){
        $('#registeredForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                password: {
                    message: '密码验证失败',
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        regexp: {
                            regexp: /^[\S]{6,12}$/,
                            message: '密码必须6到12位，且不能出现空格'
                        }
                    }
                },
                ConfirmPassword: {
                    message: '密码验证失败',
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        regexp: {
                            regexp: /^[\S]{6,12}$/,
                            message: '密码必须6到12位，且不能出现空格'
                        }
                    }
                },
                mail: {
                    validators: {
                        notEmpty: {
                            message: '邮箱地址不能为空'
                        },
                        regexp: {
                            regexp: /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/,
                            message: '邮箱格式错误'
                        }
                    }
                },
                username: {
                    validators: {
                        notEmpty: {
                            message: '用户名不能为空'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_-]{4,16}$/,
                            message: '用户名必须4到16位（数字，字码，下划线，减号）'
                        }
                    }
                }
            }
        });

    });
    $("#regSub").on("click",function(){
        registered();
    });
    function registered(){
        var bootstrapValidator = $("#registeredForm").data('bootstrapValidator').isValid();
        if(bootstrapValidator){
            var data = $("#registeredForm").serializeObject();
            if(data.password !== data.ConfirmPassword){
                toastr.error("两次密码输入不一致");
                return false;
            }
            data.ConfirmPassword = "";
            data.password = encode64(data.password);
            $.ajax({
                url:[[@{/user/saveUser}]],
            data:data,
                type:"post",
                dataType:"json",
                success:function(result){
                if(result.success){
                    toastr.success("保存成功，请登录");
                    $("#registeredPanel").modal("hide");
                }else{
                    toastr.error(result.msg);
                }
            }
        });
        }
    }
    /*]]>*/
</script>
<div class="modal fade" id="upgradeVipPanel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">请注意</h4>
            </div>
            <div class="modal-body">
                <p>升级为VIP用户将扣除相应费用</p>
                <span>本期12个月共899元</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="onUpgrade()">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    function onUpgrade(){
            var data = {
                "id":$("#accountId").val()
            };
            $.ajax({
                url:[[@{/user/upgradeVip}]],
            data:data,
                type:"post",
                dataType:"json",
                success:function(result){
                if(result.success){
                    toastr.success("升级成功");
                    $("#upgradeVipPanel").modal("hide");
                    window.location.reload();
                }else{
                    toastr.error(result.msg);
                }
            }
        });
    }
    /*]]>*/
</script>
<div class="modal fade" id="rechargePanel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">请注意</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recharge" class="col-form-label">充值金额</label>
                    <input type="text" class="form-control" placeholder="用户名" id="recharge" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="onRecharge()">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    function onRecharge(){
        var reg = /(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/;
        var money = $("#recharge").val();
        if(!reg.test(money)){
            toastr.error("请输入有效的金额");
            return;
        }
        var data = {
            "id":$("#accountId").val(),
            "money":"money"
        };
        $.ajax({
            url:[[@{/user/recharge}]],
        data:data,
            type:"post",
            dataType:"json",
            success:function(result){
            if(result.success){
                toastr.success("充值成功");
                $("#rechargePanel").modal("hide");
                window.location.reload();
            }else{
                toastr.error(result.msg);
            }
        }
    });
    }
    /*]]>*/
</script>
<div class="modal fade" id="payConfirm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">请注意</h4>
            </div>
            <div class="modal-body">
                <input id="orderId" type="hidden">
                <p>即将从余额中扣除相应租金</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="onPay()">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    function onPay(){
        var orderId = $("#orderId").val();
        if(orderId){
            var data = {
                "orderId":orderId,
                "userId":$("#accountId").val()
            };
            $.ajax({
                url:[[@{/order/payOrder}]],
            data:data,
                type:"post",
                dataType:"json",
                success:function(result){
                if(result.success){
                    toastr.success("支付成功");
                    $("#payConfirm").modal("hide");
                    $('#orderTable').bootstrapTable("refresh");
                }else{
                    toastr.error(result.msg);
                }
            }
        });
        }
    }
    /*]]>*/
</script>
<div class="modal fade" id="payCancel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">请注意</h4>
            </div>
            <div class="modal-body">
                <p>是否取消订单</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="onCancel()">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    function onCancel(){
        var orderId = $("#orderId").val();
        if(orderId){
            var data = {
                "orderId":orderId,
                "userId":$("#accountId").val()
            };
            $.ajax({
                url:[[@{/order/cancelOrder}]],
            data:data,
                type:"post",
                dataType:"json",
                success:function(result){
                if(result.success){
                    toastr.success("取消成功");
                    $("#payCancel").modal("hide");
                    $('#orderTable').bootstrapTable("refresh");
                }else{
                    toastr.error(result.msg);
                }
            }
        });
        }
    }
    /*]]>*/
</script>

<script type="text/javascript" th:src="@{/js/wickedpicker.js}"></script>
<script th:src="@{/js/jquery-ui.js}"></script>
<script th:src="@{/js/owl.carousel.js}"></script>
<script th:src="@{/js/responsiveslides.min.js}"></script>
<script th:src="@{/js/SmoothScroll.min.js}"></script>
<script type="text/javascript" th:src="@{/js/move-top.js}"></script>
<script type="text/javascript" th:src="@{/js/easing.js}"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
        });
    });
</script>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
    $(function () {
        $().UItoTop({easingType: 'easeOutQuart'});
        var account = [[${account}]];
        if (account) {
            $("#noLogin").hide();
            $("#yesLogin").show();
            $("#nameSpan").append(account.username);
            $("#accountId").val(account.id);
        } else {
            $("#noLogin").show();
            $("#yesLogin").hide();
        }
    });
    $('#orderTable').bootstrapTable({
        url: [[@{/order/getOrderInfo}]],         //请求后台的URL（*）
        method: 'get',                      //请求方式（*）
        cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
        pagination: true,                   //是否显示分页（*）
        sortable: false,                     //是否启用排序
        locale: "zh-CN",
        sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*
        pageSize: 10,                       //每页的记录行数（*）
        pageList: [10, 25, 50],        //可供选择的每页的行数（*）
        search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
        strictSearch: true,                //按钮-翻转显示
        showColumns: false,                  //是否显示所有的列
        showRefresh: false,                  //是否显示刷新按钮
        minimumCountColumns: 2,             //最少允许的列数
        clickToSelect: false,                //是否启用点击选中行
        uniqueId: "id",                     //每一行的唯一标识，一般为主键列
        showToggle:false,                    //是否显示详细视图和列表视图的切换按钮
        cardView: false,                    //是否显示详细视图
        detailView: false,                   //是否显示父子表
        columns: [{
            field: 'orderNo',
            title: '订单信息',
            formatter: formatOrderInfo
            }, {
                field: 'orderStatus',
                title: '取/换车信息',
                width:240,
                formatter: formatTimeInfo
            }, {
                field: 'costRent',
                title: '总计',
                width:180,
                formatter: formatRentInfo
            }, {
                field: 'orderStatus',
                title: '订单状态',
                width:180,
                formatter: formatButton
            }]
    });
function formatOrderInfo(value, row, index) {
    var vehicle = row.vehicle;
    var imgSrc =[[@{/uploaded/}]]+vehicle.imgPath;
    var html =
        '<div class="row">' +
            '<div class="col-6">' +
                '<img src="'+imgSrc+'" alt="" class="img-fluid">' +
            '</div>' +
            '<div class="col-6">' +
                '<h4><span>'+vehicle.brand+vehicle.model+'</span></h4>' +
                '<span style="display: block;color:#999">'+vehicle.exhaust+'厢|'+vehicle.type+'|'+vehicle.cubicles+'|乘坐'+vehicle.seatNum+'人</span>' +
                '<span style="display: block;color:#999">订单号：'+value+'</span>' +
            '</div>' +
        '</div>';
    return html;
}
function formatTimeInfo(value, row, index){
    var html =
        '<div>' +
        '<h5><i class="base-icon zc_fetch_i"></i><span>'+row.obtainProv+row.obtainCity+row.obtainArea+'</span></h5>' +
        '<span style="display: block;color:#999">'+formatDate("yyyy-MM-dd hh:mm",new Date(row.obtainTime))+'</span>' +
        '</div>'+
        '<div style="margin-top:10px">' +
        '<h5><i class="base-icon zc_giveback_i"></i><span>'+row.returnProv+row.returnCity+row.returnArea+'</span></h5>' +
        '<span style="display: block;color:#999">'+formatDate("yyyy-MM-dd hh:mm",new Date(row.returnTime))+'</span>' +
        '</div>';
    return html;
}
function formatRentInfo(value, row, index) {
    var html =
        '<div>' +
        '<i class="fas fa-yen-sign fa-2x"></i>' +
        '<span style="font-size: 26px;margin-left: 10px">'+value+'</span>' +
        '</div>';
    return html;
}
function formatButton(value, row, index) {

    var pay = '<button type="button" data-toggle="modal" class="btn btn-success" data-target="#payConfirm" onclick="bindValue(\''+row.id+'\')">立即支付</button>';
    var cancel = '<button type="button" data-toggle="modal" data-target="#payCancel" class="btn btn-warning" onclick="bindValue(\''+row.id+'\')">取消订单</button>';
    var button = '';
    if(value === "0"){
        button = pay;
    }
    if(value === "1"){
        button = cancel;
    }
    var html =
        '<div>' +
        '<span style="font-size: 16px;margin-left: 10px;margin-bottom: 10px;display: block;color: #999;">'+orderStatus[value]+'</span>' +
        button+
        '</div>';
    return html;
}
function bindValue(id){
    $("#orderId").val(id);
}
/*]]>*/
</script>
</body>
</html>